:root {
    --main-header-height: 50px;
}

#main-header {
    height: var(--main-header-height)
}

#main-section {
    height: calc(100vh - var(--main-header-height));
}

#main-content {
    overflow-y: auto;
}

.img-table{
    height: 30px;
}

.actions {
    border: 1px solid #808080;
    text-align: center;
    padding: 2px;
    margin: 2px;
}